/*
--------------------------

	this is main scss file

--------------------------
*/

.className {
	//styles
}

.className2 {
	//styles
}


//..

.wrepper {
  width: 75%;
  margin: auto;
  display: block;
}
